<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body ng-app="AirNoteApp" ng-controller="notesController">
<lable>"{{username}}"</lable>
<div id="notesColumn">
    <div ng-repeat="note in notesList">
        <div class="note">
        <div class="noteTitle">
            <label>{{note.title}}</label>
        </div>
        </div>
    </div>
</div>
<script src="/javascripts/angular.js"></script>
<script src="/javascripts/angular-route.js"></script>
<script src="/javascripts/application.js"></script>
<script src="/javascripts/noteServices.js"></script>
<script src="/javascripts/notesController.js"></script>
</body>
</html>