<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
      <link rel='javascript' href='/javascripts/scriptName'/>
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">

  </head>
  <body>
  <div class="bgImageContainer">
  </div>
  <div class="content"> ​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
     <form id="loginform" method="get" action="/users/auth">
         <div class="logo"></div>
     <p> Welcome to AirNote</p>
         <h1> SignIn With</h1>
     <button id="loginBtn" type="submit"></button>
     </form>
  </div>
  </body>
</html>
