<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
  </head>
  <body>
     <form id="loginform" method="get" action="/users/auth">
       <button id="loginBtn" type="submit">Login With DropBox</button>

     </form>
  </body>
</html>
