body{
    margin:0;
    padding:0;
    min-height: 100%;
    background-image: url('../images/brown.png');
}

b{font-size: 110%;
   }

#topsection{
    background: #EAEAEA;
    height: 90px; /*Height of top section*/
    min-height: 100%;
    padding: 20px;
    background-image: url('../images/brown.png');
    border-bottom: 2px solid black;

}

#topsection h1{
    margin: 0;
    padding-top: 15px;
    min-height: 100%;
 }

p { margin: 0;
    padding-top: 1px;
    text-align: center;
    font: 200 100px/1 'Pacifico', Helvetica, sans-serif;
    color: whitesmoke;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    text-decoration: underline;
}
#contentwrapper{
    float: left;
    width: 100%;
    min-height: 100%;
}

#contentcolumn{
    margin-left: 200px; /*Set left margin to LeftColumnWidth*/
    height: 1200px;
    min-height: 100%;
    background-image: url('../images/brown.png');
    border-bottom: 2px solid black;
    border-top: 2px solid #3c3c3c;


}

#leftcolumn{
    float: left;
    width: 300px;
    margin-left: -100%;
    background: #C8FC98;
    height: 1200px;
    min-height: 100%;
    background-image: url('../images/brown.png');
    border-bottom: 2px solid black;
    border-top: 2px solid #3c3c3c;
    border-right: 4px solid #3c3c3c;


}
#footer a{
    color: #FFFF80;
}

.innertube{
    margin: 10px;
    margin-top: 0;
    min-height: 100%;
}
a {
    height: 50px;
    width: 50px;
    background-image: url('../images/whitenote.png');
    background-size: 100%;
    padding: 50px;
    margin: 50px 50px 50px auto;
    background-repeat: no-repeat;
    display:block;
}

h2 {
    text-align: left;
    color: whitesmoke;
    position: absolute;
    font: 10 10px/0.5 'Pacifico', Helvetica, sans-serif;
}